/** CONTAINER **/
.sponsored-jobs {
  background-color: #FFF8E8;
  padding-left: 9px;
  margin-right: 30px;
}

.sponsored-jobs .hidden {
  display: none;
}

.sponsored-jobs #top-container-title, .sponsored-jobs #bottom-container-title {
  float: right;
  padding: 5px 30px 0 0;
  font-size: 12px;
}

.sponsored-jobs #top-container-title a, .sponsored-jobs #bottom-container-title a {
  color: #333;
  text-decoration: none;
}

.sponsored-jobs #top-container-title a:hover, .sponsored-jobs #bottom-container-title a:hover {
  text-decoration: underline;
}

/** JOB BOX **/
.sponsored-job-box {
  font-family: Verdana, sans-serif;
  line-height: 16px;
  padding: 8px 0;
}

.sponsored-job-box .title a {
  color: #0000FF;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}

.sponsored-job-box .detail-cl {
  font-size: 15px;
}

.sponsored-job-box .company {
  color: #008000;
}

.sponsored-job-box .location {
  color: #666666;
}

.sponsored-job-box .body {
  color: #333333;
  font-size: 0.9em;
}

.sponsored-job-box .detail-fd {
  font-family: arial,sans-serif;
  font-size: 13px;
}

.sponsored-job-box .from {
  color: #7777CC;
}

.sponsored-job-box .date {
  color: #808080;
}
