<footer>
  <div class="footer">
    <a class="jj-page-footer-link" href="/about" style="color:blue">about</a>
    |
    <a class="jj-page-footer-link" href="/new-post" style="color:blue">post jobs</a>
    <div class="copyright">
      <p>© Copyright <%=Date.current.year%> by StrongQA, Ltd. All Rights Reserved.</p>
    </div>
  </div>
</footer>