<header>
  <div id="top-header">
    <table width="100%">
      <tbody>
      <tr>
        <td style="height: 58px">
          <div id="logo-holder">
            <%= image_tag 'qajobs.com.png', id: 'logo', class: 'logo-small', alt: 'QA Jobs' %>
          </div>
          <div id="right-menu-holder">
            <table align="left" width="100%"><tbody><tr>
              <td><div class="menu-item"><a href="/">find<br>jobs</a></div></td>
              <td><div class="menu-item"><a href="/new-post">post<br>jobs</a></div></td>
            </tr></tbody></table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</header>